#article {
  display: flex;
  gap: 1rem;
}

#article .article-infos {
  box-shadow: 0 0 15px rgba(244, 243, 243, 0.2);
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
}

#article .article-infos h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 12px;
}

#article .article-infos h3 {
  font-size: 20px;
  font-weight: 400;
  color: #8695a4;
  margin-bottom: 1rem;
}

#article img {
  max-width: 350px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(244, 243, 243, 0.2);
}

#article a {
  color: #0077cc;
  text-decoration: none;
  transition: 0.3s;
  cursor: url("/src/assets/images/foguete.png"), auto;
}

#article a:hover {
  color: #0077cc;
  /* criar transacao lenta sair */
  transition: 0.3s;
  cursor: url("/src/assets/images/foguete.png"), auto;
  text-decoration: none;
}
